<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">
</head>
<body class="main-content">
    <header class="container header active" id="home">
        <div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img src="me2.jpg" alt="">
                </div>
            </div>
            <div class="right-header">
                <h1 class="name">
                    안녕하세요.<br> 
                    <span>유재형</span>입니다.<br>
                </h1>
                <p>
                    저는 열정과 패기로써 초심을 잃지않고<br>
                    항상 배우고 노력하는 자세로써<br> 
                    열심히 일하겠습니다.
                </p>
               <!-- <div class="btn-con">
                    <a href="" class="main-btn">
                        <span class="btn-text">Download CV</span>
                        <span class="btn-icon"><i class="fas fa-download"></i></span>
                    </a>
               </div> -->
            </div>
        </div>

    </header>
    <main>
        <section class="container about" id="about">
            <div class="main-title">
                <h2>About <span>me</span><span class="bg-text">My stats</span></h2>
            </div>

            <div class="about-container">
                <div class="left-about">
                    <h4>Information About me</h4>
                    <p>
                        제가 학원을 다니기 이전까지 가장 최근에 했던 일들 대부분이
                        고객분들을 직.간접적으로 대면하여 상대하는 것이였습니다.<br>
                        금융, 보험, 교육, 대리운전에 이르기까지 전부 영업적인 성격이 강했기에
                        일을 통해 세상이 결코 만만치 않고 특히 서로간의 신뢰와 친화력 역시 얼마나 중요한지 몸소 체감하였습니다.<br>
                        물론 개개인의 업무능력과 실력도 중요하지만 그보다 더 중요한건 인성과 추구하는 목표, 
                        포기하지 않는 끈기라고 생각합니다.<br>
                        전 목표를 가지고 일한다는 것이 얼마나 중요한것인지 깨닫고 있고<br>
                        적지 않은 나이에 시작한 도전인만큼 제겐 단 한번의 기회조차 간절하고 소중합니다.<br>
                        저의 단련된 친화력과 경험으로 팀 분위기 향상에 기여하고 노장 신입의 열정과 패기를 제대로 보여드리겠습니다.<br>
                        감사합니다.<br>
                    </p>
                    <!-- <div class="btn-con">
                        <a href="#" class="main-btn">
                            <span class="btn-text">Download CV</span>
                            <span class="btn-icon"><i class="fas fa-download"></i></span>
                        </a>
                   </div> -->
                     
                </div>
                <div class="right-about">
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">6+</p>
                            <p class="small-text">Months of <br /> learning </p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">various+</p>
                            <p class="small-text">Experience &<br /> know-how</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">Good+</p>
                            <p class="small-text">Friendship & <br /> Cooperation</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">Infinite+</p>
                            <p class="small-text">Will & <br /> Passion</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-stats">
                <h4 class="stat-title">My Skills</h4>
                <div class="progress-bars">
                    <div class="progress-bar">
                        <p class="prog-title">html5</p>
                        <div class="progress-con">
                            <p class="prog-text">75%</p>
                            <div class="progress">
                                <span class="html"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">Python</p>
                        <div class="progress-con">
                            <p class="prog-text">90%</p>
                            <div class="progress">
                                <span class="css"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">javascript</p>
                        <div class="progress-con">
                            <p class="prog-text">70%</p>
                            <div class="progress">
                                <span class="js"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">ReactJS</p>
                        <div class="progress-con">
                            <p class="prog-text">65%</p>
                            <div class="progress">
                                <span class="react"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">NodeJS</p>
                        <div class="progress-con">
                            <p class="prog-text">85%</p>
                            <div class="progress">
                                <span class="node"></span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <p class="prog-title">css3</p>
                        <div class="progress-con">
                            <p class="prog-text">70%</p>
                            <div class="progress">
                                <span class="python"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h4 class="stat-title">My Timeline</h4>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2015 - 2017</p>
                    <h5>한국폴리텍대학 인천캠퍼스<span> - 신소재응용과 졸업</span></h5>
                    <p>
                        각종 금속 및 신소재들의 특성과 철강의 제련, 태양광 박막 공정에 관련된 지식함양
                    </p>
            </div>
            <div class="timeline-item">
                <div class="tl-icon">
                    <i class="fas fa-briefcase"></i>
                </div>
                <p class="tl-duration">2016 - 2017</p>
                <h5>현대캐피탈 부평지점<span> - 사원</span></h5>
                <p>
                    중고차 차량에 대한 대출업무를 지원하고 현장실사 및 관리감독을 통해<br> 
                    사전에 자사의 차량유실방지
                </p>
            </div>
            <div class="timeline-item">
                <div class="tl-icon">
                    <i class="fas fa-briefcase"></i>
                </div>
                <p class="tl-duration">2018 - 2018</p>
                <h5>메가인슈 도화동지점<span> - 주임</span></h5>
                <p>
                    보험연수원에서 생명보험설계사 시험을 통과하여 고객분들의 보험을 직접 설계하고 상담.
                </p>
            </div>
            <div class="timeline-item">
                <div class="tl-icon">
                    <i class="fas fa-briefcase"></i>
                </div>
                <p class="tl-duration">2019 - 2020</p>
                <h5>톡톡교육개발연구원<span> - 과장</span></h5>
                <p>
                    기업체 대상 온라인 법정의무교육 안내(아웃바운드) 및 수강관리<br> 
                    (산업안전보건교육, 성희롱예방교육 등 필수 5대교육)
                </p>
            </div>
            <div class="timeline-item">
                <div class="tl-icon">
                    <i class="fas fa-briefcase"></i>
                </div>
                <p class="tl-duration">2020 - 2022</p>
                <h5>카카오T대리<span> - 프리랜서</span></h5>
                <p>
                    법인 수행기사 및 대리운전<br>
                </p>
            </div>
            <div class="timeline-item">
                <div class="tl-icon">
                    <i class="fas fa-briefcase"></i>
                </div>
                <p class="tl-duration">2022 - 2023</p>
                <h5>한국정보교육원<span> - 수료</span></h5>
                <p>
                    기본적인 프로그래밍 언어들과 객체지향 알고리즘 학습
                </p>
            </div>
        </div> -->
        </section>
        <section class="container" id="portfolio">
            <div class="main-title">
                <h2>My <span>Portfolio</span><span class="bg-text">My Work</span></h2>
            </div>
            <p class="port-text">
                제가 만들어보았던 사이트와 게임들입니다.
            </p>
            <div class="portfolios">
                <div class="portfolio-item">
                    <div class="image">
                        <img src="오설록1.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Project Enter</h3>
                        <div class="icons">
                            <a href="mainitem" class="icon">
                                <i class="fas fa-share"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="테트리스.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Tetris Enter</h3>
                        <div class="icons">
                            <a href="tetris" class="icon">
                                <i class="fas fa-share"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="image">
                        <img src="드래곤플라이트.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Dragonflight Enter</h3>
                        <div class="icons">
                            <a href="dragon" class="icon">
                                <i class="fas fa-share"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="portfolio-item">
                    <div class="image">
                        <img src="다이어리.png" alt="">
                    </div>
                    <div class="hover-items">
                        <h3>Project Enter</h3>
                        <div class="icons">
                            <a href="#" class="icon">
                                <i class="fas fa-share"></i>
                            </a>
                        </div>
                    </div>
                </div> -->
               
                
            </div>

        </section>
        <!-- <section class="container" id="blogs">
            <div class="blogs-content">
                <div class="main-title">
                    <h2>My <span>Blogs</span><span class="bg-text">My Blogs</span></h2>
                </div>
                <div class="blogs">
                    <div class="blog">
                        <img src="port6.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                How to Create Your Own Website
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="blog1.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                How to Become an Expert in Web Design
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="blog2.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                Become a Web Designer in 10 Days
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="blog3.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                Debbuging made easy with Web Inspector
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="port1.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                Get started with Web Design and UI Design
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                    <div class="blog">
                        <img src="port3.jpg" alt="">
                        <div class="blog-text">
                            <h4>
                                This is what you need to know about Web Design
                            </h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Doloribus natus voluptas, eos obcaecati recusandae amet?
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </section> -->
        <!-- <section class="container contact" id="contact">
            <div class="contact-container">
                <div class="main-title">
                    <h2>Contact <span>Me</span><span class="bg-text">Contact</span></h2>
                </div>
                <div class="contact-content-con">
                    <div class="left-contact">
                        <h4>Contact me here</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            In, laborum numquam? Quam excepturi perspiciatis quas quasi.
                        </p>
                        <div class="contact-info">
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Location</span>
                                </div>
                                <p>
                                    : London, united Kingdom
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                    <span>Email</span>
                                </div>
                                <p>
                                    <span>: maclinzuniversal@gmail.com</span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-user-graduate"></i>
                                    <span>Education</span>
                                </div>
                                <p>
                                    <span>: Sussex University, East Sussex</span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-user-graduate"></i>
                                    <span>Mobile Number</span>
                                </div>
                                <p>
                                    <span>: 07522670617</span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-globe-africa"></i>
                                    <span>Languages</span>
                                </div>
                                <p>
                                    <span>: Afrikaans, English, Spanish</span>
                                </p>
                            </div>
                        </div>
                        <div class="contact-icons">
                            <div class="contact-icon">
                                <a href="www.facebook.com" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a href="#" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right-contact">
                        <form action="" class="contact-form">
                            <div class="input-control i-c-2">
                                <input type="text" required placeholder="YOUR NAME">
                                <input type="email" required placeholder="YOUR EMAIL">
                            </div>
                            <div class="input-control">
                                <input type="text" required placeholder="ENTER SUBJECT">
                            </div>
                            <div class="input-control">
                                <textarea name="" id="" cols="15" rows="8" placeholder="Message Here..."></textarea>
                            </div>
                            <div class="submit-btn">
                                <a href="#" class="main-btn">
                                    <span class="btn-text">Download CV</span>
                                    <span class="btn-icon"><i class="fas fa-download"></i></span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </section> -->

    </main>

    <div class="controls">
        <div class="control active-btn" data-id="home">
            <i class="fas fa-home"></i>

        </div>
        <div class="control" data-id="about">
            <i class="fas fa-user"></i>
        </div>
        <div class="control" data-id="portfolio">
            <i class="fas fa-briefcase"></i>
        </div>
        <!-- <div class="control" data-id="blogs">
            <i class="fas fa-newspaper"></i>
        </div> -->
        <!-- <div class="control" data-id="contact">
            <i class="fas fa-envelope-open"></i>
        </div> -->
    </div>
    <div class="theme-btn">
        <i class="fas fa-adjust"></i>
    </div>

    <script src="app.js"></script>
</body>
</html>